:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
}

.title{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

p{
    color: var(--Grayish-Blue);
    font-weight: 300;
}

.titlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
}

.titlecontainer h1,
h2 {
    font-size: 2em;
    margin: 0;
}

.titlecontainer h1{
    font-weight: 200;
    color: var(--Grayish-Blue);
}

h2, h3{
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}

.main {
    flex: 1 0 auto;
    /* Make it take up the remaining space*/
}

.cardsection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 250px;
    border-radius: 1%;
    box-shadow: 10px 10px 70px rgba(0, 0, 0, 0.25);
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-width: 0.3rem 0 0 0;
}
    
#supervisor{
    border-color: var(--Cyan);
    background: url("./images/icon-supervisor.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-origin: content-box;
}

#teambuilder{
    border-color: var(--Red);
    background: url("./images/icon-team-builder.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-origin: content-box;

}

#karma{
    border-color: var(--Orange);
    background: url("./images/icon-karma.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-origin: content-box;

}

#calculator{
    border-color: var(--Blue);
    background: url("./images/icon-calculator.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-origin: content-box;

}


footer{
    text-align: center;
	flex-shrink: 0; /* ensure it stays at the bottom */
}

@media screen and (max-width: 430px) {
    body, html{
        height: fit-content;
    }

    .title{
        width: 100vw;
        font-size: 0.75rem;
    }

    p{
        font-size: 0.9rem;
    }

    .titlecontainer{
        width: 100%;
    }

    .cardsection{
        display: flex;
        flex-direction: column;
    }

    footer{
        margin-top: 100px;
        font-size: 0.25rem;
    }
    
}